

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
.main {
    background-image:url(./assests/images/bgimg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}



nav {
    max-width:72vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.img-content {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 4px 30px;
}

.unlimited-movies{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.watch-anywhere{
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.ready-to-watch{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.imgdiv-hr {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.language{
    margin:auto;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 2px 10px;
    color:white;
    background:none;
  
    right:50px;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;                                            
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: #e50f0f;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
    border: none;
    height: 51px;
}

.btn-red-sm {
    
    background-color: #e50f0f;
    color: white;
    width: 88px;
    height: 33px;
    border: none;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 21px 187px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
/*---------------------------------------------------- for first section after image part---------------------------*/

.first-section {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.first-section-imgvdo {
    position: relative;
}

.first-section-img {
    width: 555px;
    position: relative;
    z-index: 10;
  
}

.video1 {
    position: absolute;
    top: 51px;
    right: 0;
    width: 477px;
    right-margin:100px;
}

.first-section-div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.enjoy-tv{
    font-size: 46px;
    font-weight: bold;
}


.watch-tv {
    font-size: 20px;
    margin-top: 5px;

}

